name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    strategy:
        fail-fast: true
        matrix:
            php: [7.2, 7.3, 7.4]
            dependency-version: [prefer-lowest, prefer-stable]

    runs-on: ubuntu-latest

    name: PHP${{ matrix.php }}- ${{ matrix.dependency-version }}

    steps:
    - uses: actions/checkout@v2

    - name: Cache dependencies
      uses: actions/cache@v1
      with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
          php-version: ${{ matrix.php }}
          coverage: none



    - name: Install dependencies 
      run: composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest --no-progress


    - name: Run tests
      run: vendor/bin/phpunit tests
